@page
@model MalgreToutV2.Pages.Magazine.ReadModel
@{
    ViewData["Title"] = "GetMagazines";
}
<h2>Liste af Magasiner</h2>
<a asp-page="/FrontPage">Tilbage til Dashboard</a>
<br />
<a class="btn btn-outline-primary" asp-page="/Magazine/Create">Opret</a>
<br />
<br />

<table class="table table-bordered table-responsive-sm table-hover">
    <thead style="background:lightgray">
        <tr>
            <th>Id</th>
            <th>Version</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @if (Model.magazines != null)
        {
            @foreach (var point in Model.magazines)
            {
        <tr>
            <td>@point.VersionId</td>
            <td>@point.Version</td>
            @*<td><a class="btn btn-outline-info" asp-page="/Ads/Read">View Ads</a> </td>*@
            <td><a class="btn btn-outline-secondary" asp-route-id="@point.VersionId" asp-page="/Ads/Read">Se Announcer</a> </td>
            <td><a class="btn btn-outline-secondary" asp-route-id="@point.VersionId" asp-page="/Magazine/Update">Opdater</a> </td>
            <td> <a class="btn btn-outline-danger" asp-page="/Magazine/Delete" asp-route-Id="@point.VersionId">Slet</a></td>
            @*<td> <a class="btn btn-outline-secondary" asp-page="/PickupPoint/PickupPointInfo" asp-route-Id="@point.PickupPointId">Info</a></td>
            *@
        </tr>
            }
        }
    </tbody>
</table>