@page
@model MalgreToutV2.Pages.PickupPoint.PickupPointInfoModel
@{
}

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>PostalCode</th>
            <th>Country</th>
            <th>PhoneNumber</th>
            <th>NoOfMagazine</th>
            <th>OpeningTime</th>
            <th>CloseningTime</th>
            <th>ContactPerson</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @*<td>@Model.PickupPoint.Name</td>
        <td>@Model.PickupPoint.Address</td>
        <td>@Model.PickupPoint.PostalCode</td>
        <td>@Model.PickupPoint.Country</td>
        <td>@Model.PickupPoint.PhoneNumber</td>
        <td>@Model.PickupPoint.NoOfMagazine</td>
        <td>@Model.PickupPoint.OpeningTime</td>
        <td>@Model.PickupPoint.CloseningTime</td>
        <td>@Model.ContactPerson.Name</td>*@
        <td>@Model.ContactPerson.PickupPoint.Name</td>
        <td>@Model.ContactPerson.PickupPoint.Address</td>
        <td>@Model.ContactPerson.PickupPoint.PostalCode</td>
        <td>@Model.ContactPerson.PickupPoint.Country</td>
        <td>@Model.ContactPerson.PickupPoint.PhoneNumber</td>
        <td>@Model.ContactPerson.PickupPoint.NoOfMagazine</td>
        <td>@Model.ContactPerson.PickupPoint.OpeningTime</td>
        <td>@Model.ContactPerson.PickupPoint.CloseningTime</td>
        <td>@Model.ContactPerson.Name</td>
        </tr>
</table>
<div class="form-group">
    <a asp-page="/PickupPoint/Read">Back to List</a>
</div>