@page
@model MalgreToutV2.Pages.PickupPoint.PickupPointInfoModel
@{
}
<h1 style="margin-bottom: 1em;">@Model.PickupPoint.Name</h1>
<div class="row">
    <div class="col-sm-4">
        <div><img src="~/imgs/location2.png" style="height: 350px; width: 100%; object-fit: contain;" /></div>
    </div>
    <div class="col-sm-6">
        <div>
            <table>
                <tr>
                    <td><strong>Navn:</strong></td>
                    <td>@Model.PickupPoint.Name</td>
                </tr>
                <tr>
                    <td><strong>Adresse:</strong></td>
                    <td>@Model.PickupPoint.Address</td>
                </tr>
                <tr>
                    <td><strong>Post nr:</strong></td>
                    <td>@Model.PickupPoint.PostalCode</td>
                </tr>
                <tr>
                    <td><strong>Land:</strong></td>
                    <td>@Model.PickupPoint.Country</td>
                </tr>
                <tr>
                    <td><strong>Tlf:</strong></td>
                    <td>@Model.PickupPoint.PhoneNumber</td>
                </tr>
                <tr>
                    <td><strong>Antal Magasiner:</strong></td>
                    <td>@Model.PickupPoint.NoOfMagazine</td>
                </tr>
                <tr>
                    <td><strong>Åbningstid:</strong></td>
                    <td>@Model.PickupPoint.OpeningTime</td>
                </tr>
                <tr>
                    <td><strong>Lukketid:</strong></td>
                    <td>@Model.PickupPoint.CloseningTime</td>
                </tr>
                
                <tr>
                    <td><strong>Kontaktpersoner:</strong></td>
                    @if (@Model.contactPerson != null)
                    {
                        <td>@Model.contactPerson.Name</td>
                    }
                    else
                    {
                        <td>Ingen Kontaktpersoner</td>
                    }
                </tr>

                <tr>
                    <td><a asp-page="/PickupPoint/Read">Tilbage</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        text-align: left;
        padding: 8px;
    }

</style>