@page
@model MalgreToutV2.Pages.PickupPoint.ReadModel
@{
    ViewData["Title"] = "GetPickupPoints";
}
<h2><i class="fas fa-map-marked-alt"></i> Liste af Opsamlingssteder</h2>
<a asp-page="/Index">Tilbage til Dashboard</a>
<br />
<br />
<form>
    <p>
        Søg: <input type="text" asp-for="FilterCriteria" />
        <input type="submit" value="Filter" />
        <a asp-page="/PickupPoint/Read">Tilbage til den fulde liste </a>
    </p>
</form>
<a class="btn btn-outline-primary" asp-page="/PickupPoint/Create">Opret</a>
<br />
<br />
<table class="table table-bordered table-responsive-sm table-hover">
    <thead style="background:lightgray">
        <tr>
            <th>Id</th>
            <th>Navn</th>
            <th>Adresse</th>
            <th>Land</th>
            <th>Post nr.</th>
            <th>Antal Magasiner</th>
            <th>Kontaktperson</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @if (Model.PickupPoints != null)
        {
            @foreach (var point in Model.PickupPoints)
            {
                <tr>

                    <td>@point.PickupPointId</td>
                    <td>@point.Name</td>
                    <td>@point.Address</td>
                    <td>@point.Country</td>
                    <td>@point.PostalCode</td>
                    <td>@point.NoOfMagazine</td>
                    
                    @if (point.ContactPerson != null)
                    {
                        <td>@point.ContactPerson.Name</td>
                    }
                    else
                    {
                        <td>Ingen Kontaktperson</td>
                    }
                    <td> <a class="btn btn-outline-secondary" asp-page="/PickupPoint/PickupPointInfo" asp-route-Id="@point.PickupPointId">Info</a></td>
                    <td><a class="btn btn-outline-secondary" asp-route-id="@point.PickupPointId" asp-page="/PickupPoint/Update">Opdater</a> </td>
                    <td> <a class="btn btn-outline-danger" asp-page="/PickupPoint/Delete" asp-route-PickupPointId="@point.PickupPointId">Slet</a></td>
                </tr>
            }
        }
    </tbody>
</table>