@page
@model MalgreToutV2.Pages.PickupPoint.ReadModel
@{
}
<h2>List of Pickup Points</h2>
<br/>
<div><a class="btn btn-outline-primary" asp-page="/PickupPoint/Create">Create</a></div>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Address</th>
            <th>Country</th>
            <th>PostalCode</th>
            <th>No of magazines</th>
            <th>Pickup person Id</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

    @if (Model.PickupPoints != null)
    {
        @foreach (var point in Model.PickupPoints)
        {
        <tr>
            <td>@point.PickupPointId</td>
            <td>@point.Name</td>
            <td>@point.Address</td>
            <td>@point.Country</td>
            <td>@point.PostalCode</td>
            <td>@point.NoOfMagazine</td>
            <td></td> @*erstat når den implementeres*@
            @*<td>@point.ContactPersonId</td>*@

            <td><a class="btn btn-outline-secondary" asp-route-id="@point.PickupPointId" asp-page="/PickupPoint/Update">Update</a> </td>
            <td> <a class="btn btn-outline-danger" asp-page="/PickupPoint/Delete" asp-route-PickupPointId="@point.PickupPointId">Delete</a></td>
        </tr>
            }
        }
    </tbody>
</table>