@page
@model MagreToutV2.Pages.PickupPoint.UpdateModel
@{
    ViewData["Title"] = "Update";
}
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="  ModelOnly  " class="text-danger">
            </div>
            <div class="form-group">
                <label hidden="hidden" asp-for="@Model.PickupPoint.PickupPointId" class="control-label"></label>
                <input hidden="hidden" asp-for="@Model.PickupPoint.PickupPointId" class="form-control" />
                <span asp-validation-for="@Model.PickupPoint.PickupPointId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.PickupPoint.Name" class="control-label"></label>
                <input asp-for="@Model.PickupPoint.Name" type="text" class="form-control" />
                <span asp-validation-for="@Model.PickupPoint.Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.PickupPoint.Address" class="control-label"></label>
                <input asp-for="@Model.PickupPoint.Address" type="text" class="form-control" />
                <span asp-validation-for="@Model.PickupPoint.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.PickupPoint.Country" class="control-label"></label>
                <input asp-for="@Model.PickupPoint.Country" type="text" class="form-control" />
                <span asp-validation-for="@Model.PickupPoint.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.PickupPoint.PostalCode" class="control-label"></label>
                <input asp-for="@Model.PickupPoint.PostalCode" type="text" class="form-control" />
                <span asp-validation-for="@Model.PickupPoint.PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.PickupPoint.PhoneNumber" class="control-label"></label>
                <input asp-for="@Model.PickupPoint.PhoneNumber" type="text" class="form-control" />
                <span asp-validation-for="@Model.PickupPoint.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.PickupPoint.NoOfMagazine" class="control-label"></label>
                <input asp-for="@Model.PickupPoint.NoOfMagazine" type="text" class="form-control" />
                @*<input asp-for="@Model.PickupPoint.NoOfMagazine" type="range" name="amountRange" min="0" max="10000" value="0" oninput="this.form.amountInput.value=this.value" />
        <input asp-for="@Model.PickupPoint.NoOfMagazine" type="number" name="amountInput" min="0" max="20" value="0" oninput="this.form.amountRange.value=this.value" />*@
                <span asp-validation-for="@Model.PickupPoint.NoOfMagazine" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="@Model.PickupPoint.ContactPersonId" class="control-label"></label>
            <input asp-for="@Model.PickupPoint.ContactPersonId" class="form-control"/>
            <span asp-validation-for="@Model.PickupPoint.ContactPersonId" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
                <br />
                <a asp-page="/PickupPoint/Read">Back to List</a>
            </div>
        </form>
    </div>
</div>