@page
@model MalgreToutV2.Pages.Employee.CreateModel
@{
    ViewData["Title"] = "Create";
}
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="  ModelOnly  " class="text-danger">
            </div>
            <div class="form-group">
                <label  asp-for="@Model.Employee.Name" class="control-label"></label>
                <input  asp-for="@Model.Employee.Name" class="form-control" />
                <span asp-validation-for="@Model.Employee.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Employee.Role" class="control-label"></label>
                <input asp-for="@Model.Employee.Role" class="form-control" />
                <span asp-validation-for="@Model.Employee.Role" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Employee.Username" class="control-label"></label>
                <input asp-for="@Model.Employee.Username" class="form-control" />
                <span asp-validation-for="@Model.Employee.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Employee.Password" class="control-label"></label>
                <input asp-for="@Model.Employee.Password" type="password" class="form-control" />
                <span asp-validation-for="@Model.Employee.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>