@page
@model MalgreToutV2.Pages.Employee.EmployeeInfoModel
@{
}

<h1 style="margin-bottom: 1em;">@Model.Employee.Name</h1>
<div class="row">
    <div class="col-sm-4">
        <div><img src="~/imgs/employee.png" style="height: 350px; width: 100%; object-fit: contain;" /></div>
    </div>
    <div class="col-sm-6">
        <div>
            <table>
                <tr>
                    <td><strong>Navn:</strong></td>
                    <td>@Model.Employee.Name</td>
                </tr>
                <tr>
                    <td><strong>Medarbejder ID:</strong></td>
                    <td>@Model.Employee.EmployeeId</td>
                </tr>
                <tr>
                    <td><strong>Rolle:</strong></td>
                    <td>@Model.Employee.Role</td>
                </tr>
                <tr>
                    <td><strong>Brugernavn:</strong></td>
                    <td>@Model.Employee.Username</td>
                </tr>
                <tr>
                    <td><a asp-page="/Employee/Read">Tilbage</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        text-align: left;   
        padding: 8px;
    }

</style>