@page
@model MalgreToutV2.Pages.Employee.EmployeeInfoModel
@{
}
<table class="table">
    <thead>
        <tr>
            <th>EmployeeId</th>
            <th>Name</th>
            <th>Role</th>
            <th>Username</th>
            <th>Password</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Employee.EmployeeId</td>
            <td>@Model.Employee.Name</td>
            <td>@Model.Employee.Role</td>
            <td>@Model.Employee.Username</td>
            <td>@Model.Employee.Password</td>
        </tr>
</table>
<div class="form-group">
    <a asp-page="/Employee/Read">Back to List</a>
</div>