@page
@model MalgreToutV2.Pages.Employee.ReadModel
@{
    ViewData["Title"] = "";
}
<h2><i class="fas fa-users"></i> List of Employees</h2>
<a asp-page="/Index">Tilbage til Dashboard</a>
<br />
<br />
<form>
    <p>
        Search: <input type="text" asp-for="FilterCriteria" />
        <input type="submit" value="Filter" />
        <a asp-page="/Employee/Read">Back to Full List</a>
    </p>
</form>
<a class="btn btn-outline-primary" asp-page="/Employee/Create">Create</a>
<br />
<br />
<table class="table table-bordered table-responsive-sm table-hover">
    <thead style="background: lightgray;">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Role</th>
            <th>Username</th>
            <th>Password</th>
            <th></th>
            <th></th>
            <th></th>

        </tr>
    </thead>
    <tbody>


        @if (Model.Employees != null)
        {
            @foreach (var employee in Model.Employees)
            {
                <tr>
                    <td>@employee.EmployeeId</td>
                    <td>@employee.Name</td>
                    <td>@employee.Role</td>
                    <td>@employee.Username</td>
                    <td>@employee.Password</td>

                    <td>
                        <a class="btn btn-outline-secondary" asp-page="/Employee/employeeInfo" asp-route-id="@employee.EmployeeId">Info</a>
                    </td>
                    <td>
                        <a class="btn btn-outline-danger" asp-page="/Employee/Delete" asp-route-EmployeeId="@employee.EmployeeId">Delete</a>
                    </td>
                    <td>
                        <a class="btn btn-outline-secondary" asp-page="/Employee/Update" asp-route-EmployeeId="@employee.EmployeeId">Update</a>

                    </td>


                </tr>

            }}
    </tbody>
</table>