@page
@model MalgreToutV2.Pages.ContactPerson.CreateModel
@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="  ModelOnly  " class="text-danger">
            </div>
            <div class="form-group">
                <label hidden="hidden" asp-for="@Model.ContactPerson.ContactPersonId" class="control-label"></label>
                <input hidden="hidden" asp-for="@Model.ContactPerson.ContactPersonId" class="form-control" />
                <span asp-validation-for="@Model.ContactPerson.ContactPersonId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ContactPerson.Name" class="control-label"></label>
                <input asp-for="@Model.ContactPerson.Name" class="form-control" />
                <span asp-validation-for="@Model.ContactPerson.Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.ContactPerson.PhoneNumber" class="control-label"></label>
                <input asp-for="@Model.ContactPerson.PhoneNumber" class="form-control" />
                <span asp-validation-for="@Model.ContactPerson.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ContactPerson.Email" class="control-label"></label>
                <input asp-for="@Model.ContactPerson.Email" class="form-control" />
                <span asp-validation-for="@Model.ContactPerson.Email" class="text-danger"></span>
            </div>
            <label>Vælg et opsamlingssted:</label>
            <select asp-for="@Model.ContactPerson.PickupPointId">
                @if (Model != null) {
                    @foreach (var item in Model.pickupPoints) {
                        <option value="@item.PickupPointId">@item.Name</option>

                    }}
            </select>
            <div class="form-group">
                <input type="submit" value="Opret" class="btn btn-primary" />
            </div>
            <div>
                <a class="btn btn-outline-secondary" asp-page="/ContactPerson/Read">Tilbage</a>
            </div>
        </form>
    </div>
</div>

