@page
@model MalgreToutV2.Pages.ContactPerson.DeleteModel
@{
}
<h1>Slet kontaktperson</h1>
<h3>Er du sikker på du vil slette denne?</h3>
<div>
    <form method="post">
        <dl class="row">
            <dt class="col-sm-2"> @Html.DisplayNameFor(model => model.ContactPerson.ContactPersonId)</dt>
            <dd class="col-sm-10"> @Html.DisplayFor(model => model.ContactPerson.ContactPersonId)</dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ContactPerson.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ContactPerson.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ContactPerson.PhoneNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ContactPerson.PhoneNumber)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ContactPerson.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ContactPerson.Email)
            </dd>
        </dl>
        <input type="hidden" asp-for="ContactPerson.ContactPersonId" />
        <input type="submit" value="Slet" class="btn btn-danger" />
        <br/>
    </form>
    <br/>
    <div>
        <a class="btn btn-outline-secondary" asp-page="/ContactPerson/Read">Tilbage</a>
    </div>
</div>