@page
@model MalgreToutV2.Pages.ContactPerson.PersonInfoModel
@{
}
<h1 style="margin-bottom: 1em;">@Model.ContactPerson.Name</h1>
<div class="row">
    <div class="col-sm-4">
        <div><img src="~/imgs/employee.png" style="height: 350px; width: 100%; object-fit: contain;" /></div>
    </div>
    <div class="col-sm-6">
        <div>
            <table>
                <tr>
                    <td><strong>Navn:</strong></td>
                    <td>@Model.ContactPerson.Name</td>
                </tr>
                <tr>
                    <td><strong>Kontaktperson ID:</strong></td>
                    <td>@Model.ContactPerson.ContactPersonId</td>
                </tr>
                <tr>
                    <td><strong>Opsamlingssted:</strong></td>
                    <td>@Model.ContactPerson.PickupPoint.Name</td>
                </tr>
                <tr>
                    <td><strong>Tlf:</strong></td>
                    <td>@Model.ContactPerson.PhoneNumber</td>
                </tr>
                <tr>
                    <td><strong>Email:</strong></td>
                    <td>@Model.ContactPerson.Email</td>
                </tr>
                <tr>
                    <td><a asp-page="/ContactPerson/Read">Tilbage</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        text-align: left;
        padding: 8px;
    }

</style>