@page
@model MalgreToutV2.Pages.ContactPerson.ReadModel
@{
    ViewData["Title"] = "GetContactPersons";
}
<h2><i class="fas fa-people-carry"></i> Liste af Kontaktpersoner</h2>
<a asp-page="/FrontPage">Tilbage til Dashboard</a>
<br />
<br />
<form>
    <p>
        Søg: <input type="text" asp-for="FilterCriteria" />
        <input type="submit" value="Filter" />
        <a asp-page="Read">Tilbage til den fulde liste</a>
    </p>
</form>
<a class="btn btn-outline-primary" asp-page="/ContactPerson/Create">Opret</a>
<br />
<br />
<table class="table table-bordered table-responsive-sm table-hover">
    <thead style="background: lightgray;">
        <tr style="background: lightgray;">
            <th>Navn</th>
            <th>Tlf</th>
            <th>E-mail</th>
            <th>Opsamlingssted</th>
            <th></th>
            <th></th>
            <th></th>

        </tr>
    </thead>
    <tbody>


        @if (Model.PickupPeople != null)
        {
            @foreach (var person in Model.PickupPeople)
            {
        <tr>
            <td>@person.Name</td>
            <td>@person.PhoneNumber</td>
            <td>@person.Email</td>
            <td>@person.PickupPoint.Name</td>

            <td>
                <a class="btn btn-outline-secondary" asp-page="/ContactPerson/PersonInfo" asp-route-id="@person.ContactPersonId">Info</a>
            </td>

            <td>
                <a class="btn btn-outline-secondary" asp-page="/ContactPerson/Update" asp-route-ContactPersonId="@person.ContactPersonId">Opdater</a>
            </td>
            <td>
                <a class="btn btn-outline-danger" asp-page="/ContactPerson/Delete" asp-route-ContactPersonId="@person.ContactPersonId">Slet</a>
            </td>

        </tr>

            }}
    </tbody>
</table>