@page
@model MalgreToutV2.Pages.Ads.DeleteModel
@{
}
<h1>Slet Announce</h1>
<h3>Er du sikker på du vil slette denne?</h3>
<div>
    <form method="post">
        <dl class="row">
            <dt class="col-sm-2"> @Html.DisplayNameFor(model => model.Ad.AdId)</dt>
            <dd class="col-sm-10"> @Html.DisplayFor(model => model.Ad.AdId)</dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Ad.AdPrice)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Ad.AdPrice)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Ad.Company)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Ad.Company)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Ad.Version)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Ad.Version)
            </dd>
        </dl>
        <input type="hidden" asp-for="Ad.AdId" />
        <input type="hidden" asp-for="Ad.VersionId" />

        <input type="submit" value="Slet" class="btn btn-danger" />
        <br />
    </form>
    <br />
    <div>
        <a class="btn btn-outline-secondary" onclick="history.back()">Tilbage</a>
    </div>
</div>