@page   "{id}"
@model MalgreToutV2.Pages.Ads.ReadModel
@{

}
<h2>List of Ads @*in @ViewData["Name"]*@</h2>
<a asp-page="/Index">Tilbage til Dashboard</a>
<br />
<a class="btn btn-outline-primary" asp-route-id="@Model.Magazine.VersionId" asp-page="/Ads/Create">Create</a> <em>|</em> <a class="btn btn-outline-secondary" asp-page="/Magazine/Read">Tilbage til Magasiner</a>
<br />
<br />

<table class="table table-bordered table-responsive-sm table-hover">
    <thead style="background:lightgray">
        <tr>
            <th>Firma</th>
            <th>Pris</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @if (Model.ads != null)
        {
            @foreach (var point in Model.ads)
            {
                <tr>
                    <td>@point.Company</td>
                    <td>@point.AdPrice kr.</td>
                    <td><a class="btn btn-outline-secondary" asp-route-id="@point.AdId" asp-page="/Ads/Update">Opdater</a> </td>
                    <td> <a class="btn btn-outline-danger" asp-page="/Ads/Delete" asp-route-id="@point.AdId">Slet</a></td>
                </tr>
            }
        }
    </tbody>
</table>