@page
@model MalgreToutV2.Pages.Ads.UpdateModel
@{

}
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="  ModelOnly  " class="text-danger">
            </div>
            <div class="form-group">
                <label hidden="hidden" asp-for="@Model.Ad.AdId" class="control-label"></label>
                <input hidden="hidden" asp-for="@Model.Ad.AdId" class="form-control" />
                <span asp-validation-for="@Model.Ad.AdId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Ad.Company" class="control-label"></label>
                <input asp-for="@Model.Ad.Company" class="form-control" />
                <span asp-validation-for="@Model.Ad.Company" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Ad.AdPrice" class="control-label"></label>
                <input asp-for="@Model.Ad.AdPrice" class="form-control" />
                <span asp-validation-for="@Model.Ad.AdPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
                <br />
                <a asp-page="/Ads/Read">Back to List</a>
            </div>
        </form>
    </div>
</div>